*~
*.log
*.class
*.apk
*.ap_
*.dex

.classpath
.project
.settings
.externalToolBuilders
eclipse-launch-profiles
nbactions.xml
datanucleus.log
local.properties

.gradle
/.idea/workspace.xml
.DS_Store
.idea/
*.iml

build/
target/
bin/
gen/

nomaven/lib/
nomaven/scripts/build-java-local.xml
nomaven/build/jar/
nomaven/build/classes/
nomaven/build/apidoc/

/ghsite/
/repo/
